.column1 {
    float: left;
}

.left {
    width: 25%;
    background-color:white;
}

.right {
    width: 75%;
    background-color:white;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
  box-sizing: border-box;
}

#tableInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#tables {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tables li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#tables li a:hover:not(.header) {
  background-color: #eee;
}

#itemInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#items li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#items li a:hover:not(.header) {
  background-color: #eee;
}
}